main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
}

.heading{

  text-align: center; 
  width: 100%; height: 50px;
  border-style: solid;
  border-color: white;
  background-color: cornflowerblue;
}

h1{

  text-align: text-top; 
  margin-top: -460px; 
}