body{

  background-color: white; 
  background-image: url("./public/light-clouds-mountains-4k-ku-1920x1080.jpg"); 
}

img{

  border: 1px solid #ddd;
  opacity: 0.85; 
  border-radius: 4px;
  padding: 5px;
  margin-top: 75px; 
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}


main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
}

.heading{

  text-margin: 10px; 
  width: 100%; height: 50px;
  border-style: solid;
  border-color: white;
  border-radius: 10px; 
  background-color: #f9ebeb;
  opacity: 0.85; 
}

.B1Inside{

  width: 900px; 
  height: 500px; 
  background-color: white; 
  border-radius: 10px; 
  opacity: 0.90; 
}

img.b1{

  height: 440px; 
  width: 400px;
  position: absolute; 
  top: 75px;
  left: 320px; 
}

h1{

 
  margin-top: -460px; 
  font-style: italic; 
  position: absolute;
  left: 40px; 
}

h2.about{

  position: absolute; 
  left: 200px; 
  top: 3px;
  font-style: italic; 
}

h2.buy{

  position: absolute; 
  left: 350px; 
  top: 3px;
  font-style: italic; 
}

h2.sell{

  position: absolute; 
  left: 450px; 
  top: 3px;
  font-style: italic; 
}

h1.quote{

  position: absolute; 
  left: 445px; 
  top: 150px;
  font-style: italic; 
 
  
}

.names{

  margin-top: -990px; 
  font-size: 15px; 
  text-align: left; 
  
}

 canvas{

  margin-top: 50px; 
  background-color: #f9ebeb; 
  opacity: 0.9; 
  border-radius: 10px; 
}

.carousel{

  width: auto; 
  position: relative; 
  margin-top: 100px; 
  
}
@media only screen and (min-width: 1601px){

  h1{

    margin-top: 500px; 
  }

  .names{

    margin-top: -980px; 
  }
}



/*Laptop screens*/
@media only screen and (min-width: 800px) and (max-width: 1600px){

      h1{
    
        margin-top: 5px; 
      }
    
      .names{
    
        margin-top: -780px; 
  }

 
}
/**
Need to add adjustments for different size screens 
*/